{% if user["created_at"] %}
    <p>
        📅 Joined GitHub:
        {{ user["created_at"][:10] }}
    </p>
{% endif %}<p class="name">
    {{ user["name"] or "No name provided" }}
</p>

<p>
    {{ user["bio"] or "No bio provided." }}
</p>

<div class="details">

    {% if user["location"] %}
        <p>📍 {{ user["location"] }}</p>
    {% endif %}

    {% if user["company"] %}
        <p>🏢 {{ user["company"] }}</p>
    {% endif %}

    {% if user["blog"] %}
        <p>
            🔗
            <a href="{{ user['blog'] }}" target="_blank">
                Website
            </a>
        </p>
    {% endif %}

    <p>
        📅 Joined GitHub:
        {{ user["created_at"][:10] }}
    </p>

</div>
